.book-grid-wrapper {
  width: 80%; 
  margin: 0 auto; 
  margin-top: 40px;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
}

app-book {
  flex: 1 1 calc(50% - 10px); 
  max-width: calc(50% - 10px);
}


.book-grid-wrapper .book-grid .book-card-container.custom-book-height {
  display: flex;
  justify-content: center;
  min-height: 30vh;
  height: 35vh;
}
