<div class="page-container">
   
    <div class="main-content">
        
        <div *ngFor="let book of Books" >
            
            <div class="book-container" >
            
                <div class="book-card">
                    <div class="book-title">{{book.title}}</div> 
                    <div class="book-author">{{book.author}}</div>
                    <div class="book-isbn">{{book.isbn}}</div>
                    <div class="book-language">{{book.language}}</div>
                    <div class="book-addedDate">{{book.addedDate}}</div>
                </div>
               
            </div>
        </div>
        
    </div>
</div>