<meta name="viewport" content="width=device-width">
<input type="radio" name="filter" id="all" checked><label for="all">All</label>
<input type="radio" name="filter" id="animals"><label for="animals">Animals</label>
<input type="radio" name="filter" id="nature"><label for="nature">Nature</label>
<input type="radio" name="filter" id="people"><label for="people">People</label>
<input type="radio" name="filter" id="tech"><label for="tech">Tech</label>
<div class="gallery">
  <figure class="card tech">
    <img class="card__image" loading="lazy" src="https://picsum.photos/id/0/300" alt="">
    <figcaption class="card__caption">Laptop</figcaption>
  </figure>
  <figure class="card nature">
    <img class="card__image" loading="lazy" src="https://picsum.photos/id/10/300" alt="">
    <figcaption class="card__caption">Sea forest</figcaption>
  </figure>
  <figure class="card animals">
    <img class="card__image" loading="lazy" src="https://picsum.photos/id/1003/300" alt="">
    <figcaption class="card__caption">Deer</figcaption>
  </figure>
  <figure class="card people">
    <img class="card__image" loading="lazy" src="https://picsum.photos/id/1005/300" alt="">
    <figcaption class="card__caption">Horizon sight</figcaption>
  </figure>
  <figure class="card nature">
    <img class="card__image" loading="lazy" src="https://picsum.photos/id/218/300" alt="">
    <figcaption class="card__caption">Sea</figcaption>
  </figure>
  <figure class="card people">
    <img class="card__image" loading="lazy" src="https://picsum.photos/id/1012/300" alt="">
    <figcaption class="card__caption">Man & Dog</figcaption>
  </figure>
  <figure class="card animals">
    <img class="card__image" loading="lazy" src="https://picsum.photos/id/1020/300" alt="">
    <figcaption class="card__caption">Bear</figcaption>
  </figure>
  <figure class="card people">
    <img class="card__image" loading="lazy" src="https://picsum.photos/id/1027/300" alt="">
    <figcaption class="card__caption">Girl</figcaption>
  </figure>
  <figure class="card tech">
    <img class="card__image" loading="lazy" src="https://picsum.photos/id/119/300" alt="">
    <figcaption class="card__caption">MacBook</figcaption>
  </figure>
  <figure class="card animals">
    <img class="card__image" loading="lazy" src="https://picsum.photos/id/219/300" alt="">
    <figcaption class="card__caption">Leopard</figcaption>
  </figure>
  <figure class="card nature">
    <img class="card__image" loading="lazy" src="https://picsum.photos/id/306/300" alt="">
    <figcaption class="card__caption">Flower</figcaption>
  </figure>
  </div>
<div class="donate">
  <p>Help me with a <a href="https://www.paypal.com/donate/?hosted_button_id=NZ9Z8YDHSMMEC" target="_blank" rel="noopener">donation in Paypal</a></p>
</div>