.book-card-container {
  display: flex;
  justify-content: center;
  min-height: 100vh; 
}
.book-card {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px; 
  width: 20vw;
  height: 30vh;
  min-width: 10vw;
  min-height: 10vh;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.book-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-5px); 
}
.book-card:active {
  transform: translateY(-2px); /* Less raise on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Smaller shadow on click */
}

.book-card__image {
  width: 45%; 
  height: 95%; 
  object-fit: cover;
  margin-right: 15px;
}

.book-card__info {
  flex: 1;
}

.book-card__title {
  font-size: 1.4vw;
  font-weight: bold;
  margin: 0;
}

.book-card__author {
  font-size: 1vw;
  margin: 5px 0;
}

.book-card__type,
.book-card__status,
.card__Language {
 
  font-size: 0.8vw;
  color: #666;
  margin: 2px 0;
}



/* Responsive adjustments for smaller screens */
@media (max-width: 800px) {

  .book-card__info, .book-card__footer {
    display: none;
  }
   /* Show only the image and set a fixed size */
   .book-card__photo img {
    width: 100px; /* Fixed width */
    height: 150px; /* Fixed height */
  }
  .book-card {
    width: 100px; /* Adjust width to fit the image */
    height: 150px; /* Adjust height to fit the image */
    margin: auto; 
    flex-direction: column;
    align-items: flex-start;
  }

  .book-card__image {
    width: auto; /* Adjust for smaller screens */
    height: auto; /* Adjust for smaller screens */
    max-width: 100%;
  }
}

.book-card-actions {
  position: absolute;
  bottom: 2px; 
  right: 2px; 
  display: flex;
  justify-content: flex-end;
}

.book-card-action-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px; 
  font-size: 3vh;
  color: #666; 
  transition: color 0.2s ease, transform 0.2s ease; /* Smooth transition for color and transform */

}

.book-card-action-button:hover {
  color: #c8c8c8; 
  transform: scale(1.4);
}

/* Maintain the red color for liked state, even on hover */
.book-card-action-button.liked,
.book-card-action-button.liked:hover {
  color: red;
}


.book-card-action-button.liked {
  color: red; 
  animation: pop 0.3s ease; 

}
@keyframes pop {
  0% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.8); 
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

