<div class="app-container">
    <div class="main reset-password-form">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
        <label for="password">Reset Password</label>
        <input type="password" formControlName="newPassword" placeholder="New password" required>
        <input type="password" formControlName="confirmPassword" placeholder="Confirm new password" required>
        <div class="error-container" *ngIf="resetPasswordForm.errors?.['passwordMismatch'] && resetPasswordForm.touched">
          <small class="error-message">Passwords must match.</small>
        </div>
        <button type="submit" [disabled]="!resetPasswordForm.valid">Change Password</button>
      </form>
    </div>
  </div>
  