.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.upcoming-event-list {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5vh;

}
.no-events {
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}


