<nav class="nav" [class.affix]="isAffix && !showModal" [class.hidden]="showModal">
  <div class="container">
    <div class="logo" appTooltip="Home">
      <a (click)="testClick()" routerLink="/home-page">
        <img src="assets/images/4.svg" alt="Your Logo" class="navbar-logo">
      </a>
    </div>

    <div *ngIf="showMenu" id="mainListDiv" class="main_list" [class.show_list]="navExpanded">
      <ul class="navlinks">
        <!-- Chat Icon Placeholder -->
        <li class="icon-container chat-dropdown-trigger">
          <a (click)="toggleChatDropdown($event)">
            <i class="fas fa-comments" appTooltip="Chat"></i>
          </a>
          <div *ngIf="showChatDropdown" class="chat-dropdown-content">Chat Component Placeholder</div>
        </li>

        <!-- Notifications Icon Placeholder -->
        <li class="icon-container notifications-dropdown-trigger">
          <a (click)="toggleNotificationsDropdown($event)">
            <i class="fas fa-bell" appTooltip="Notifications"></i>
          </a>
          <!-- Notifications Dropdown Placeholder -->
          <div *ngIf="showNotificationsDropdown" class="notifications-dropdown-content">Notifications Component
            Placeholder</div>
        </li>

        <!-- Events Icon Placeholder -->
        <li class="icon-container events-dropdown-trigger">
          <a (click)="toggleEventsDropdown($event)">
            <i class="fas fa-calendar-alt" appTooltip="Events"></i>
          </a>
          <!-- Events Dropdown Placeholder -->
          <div *ngIf="showEventsDropdown" class="events-dropdown-content">Events Component Placeholder</div>
        </li>


        <!-- Profile Dropdown -->
        <li *ngIf="isLoggedIn" class="user-info-container">
          <div class="profile-dropdown" (click)="toggleDropdown()">
            <div class="profile-icon-container" appTooltip="Account">
              <img [src]="profilePictureUrl" alt="Profile" class="profile-picture">

            </div>
            <div *ngIf="showDropdown" class="dropdown-content">
              <a [routerLink]="['/profile']">
                <img [src]="profilePictureUrl" alt="Profile" class="dropdown-profile-picture">
                {{User?.name}}
              </a>
              <a [routerLink]="['/settings']">Settings</a>
              <button class="logout-button"(click)="logout()">Logout</button>
            </div>
          </div>
        </li>


      </ul>
    </div>


    <span *ngIf="showMenu" class="navTrigger" (click)="toggleNavbar()">
    </span>
  </div>
</nav>